.gridWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #404040;
  gap: 1px;
  min-height: 40%;
  flex-grow: 1;
}

.cellWrapper {
  min-width: 140px;
  min-height: 80px;
  background-color: #1e1f21;
  color: #dddcdd;
}

.cellWeekEndWrapper {
  min-width: 140px;
  min-height: 80px;
  background-color: #272829;
  color: #dddcdd;
}

.rowInCell {
  display: flex;
  justify-content: flex-end;
}

.dayWrapper {
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 3px;
}

.currentDay {
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 3px;
  background-color: red;
}
