.App {
  display: grid;
  grid-template-columns: 270px 1fr 100px;
  grid-template-rows: 1fr 13fr;
  grid-template-areas:
    'leftPanel    header       header'
    'leftPanel centralPanel rightPanel';
  gap: 10px;
  background: linear-gradient(50deg, #b3b7bb, 40%, #f2f5f6);
  height: 100vh;
}

.header {
  grid-area: header;
}

.leftPanel {
  grid-area: leftPanel;
  color: #fff;
}

.centralPanel {
  grid-area: centralPanel;
}

.rightPanel {
  grid-area: rightPanel;
}
